.msgWrapper {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  width: 746px;
  display: flex;
  height: 103px;
  background: #000000;
  text-align: center;
  align-items: center;
  box-shadow: 0 11px 18px rgba(0, 0, 0, 0.1), 0 4px 13px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  margin: auto;
  justify-content: space-between;
  border-radius: 5px;
}

.exclamationIcon {
  font-size: 38px;
  margin-right: 205px;
  margin-left: 20px;
  color: #ffffff;
  position: relative;
}

.closeIcon {
  margin-right: 25px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 42px;
  cursor: pointer;
}

.closeAlert {
  display: none;
}

.msg {
  position: absolute;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  margin-left: 73px;
  font-weight: 600;
}
